# Ignora file e cartelle specifici
upload/
vendor/
gestione_cartelle/foto/
gestione_cartelle/image/
gestione_cartelle/uploads/
gestione_cartelle/foto_utenti/
uploads

# Ignora tutti i file con estensione .sql
*.sql
*.xlsx
*.pdf
*.xlk
# Ignora file di database locale
*.db
